services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=3000
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - 5050:5050
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    environment:
      - NODE_ENV=development
      - PORT=5050

volumes:
  backend_node_modules:
  frontend_node_modules:
